<h2>Listing users</h2>

<table>
  <tr>
    <th>Username</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user %></td>
    <% if can? :edit, user %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <%end%>
    <% if can? :destroy, user %>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
